<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.technion.cue">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ClientFeatures.ClientChooseTimeFragment"></activity>
        <activity android:name=".ClientFeatures.ClientChooseDateFragment" />
        <activity android:name=".BusinessFeatures.BusinessScheduleDay" />
        <activity android:name=".BusinessFeatures.BusinessSchedule" />
        <activity android:name=".ClientFeatures.ClientBusinessHomepage" />
        <activity android:name=".ClientFeatures.ClientAppointmentPage" />
        <activity android:name=".Settings"/>
        <activity android:name=".SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BusinessFeatures.BOBusinessHomePage" />
        <activity android:name=".BusinessFeatures.BusinessSignUp" />
        <activity android:name=".ClientFeatures.ClientSignUp" />
        <activity android:name=".ClientFeatures.ClientHomePage" />

    </application>

</manifest>